@media screen and (max-width: 1230px) {
  .case {
    width: 992px; }
  .header__auth {
    padding-left: 15px; }
  .slider__slide {
    width: 772px; }
  .slider__wrap {
    top: 30px; }
  .slider__desc {
    margin-bottom: 30px; }
  .slider__nav .slick-slide {
    padding-top: 21px;
    padding-bottom: 19px;
    height: 103px; }
  .product_small .product__price-new {
    padding-left: 8px;
    padding-right: 3px;
    margin-right: 5px; }
  .reviews__logo {
    margin-left: 15px; }
  .reviews__text {
    max-width: 290px; }
  .reviews .slick-next {
    right: 24px; }
  .cart-list__data {
    padding-left: 5px;
    padding-right: 10px; }
  .price__input {
    width: 60px; }
  .price__counts {
    background-size: 80%; }
  .vacancies__name {
    width: 80%; }
  .vacancies__salary {
    width: 20%; }
  .order__repeat {
    left: 40%; }
  .personal-data .element_calendar {
    margin-left: 30px; }
  .product-page__img {
    width: 500px;
    height: 335px;
    line-height: 300px; }
    .product-page__img img {
      max-height: 300px; }
  .recipe-item__img img {
    height: 100%; }
  .reg__auth_page-reg {
    margin-left: -10px;
    padding-right: -10px;
    padding-left: 25px;
    padding-right: 15px; }
    .reg__auth_page-reg .reg__list, .reg__auth_page-reg .reg__auth {
      max-width: 750px; }
    .reg__auth_page-reg .reg__socials, .reg__auth_page-reg .reg__login {
      display: block;
      width: 100%; }
    .reg__auth_page-reg .reg__socials {
      margin-bottom: 30px; }
    .reg__auth_page-reg .reg__login {
      padding-left: 30px; }
  .reg__nav-btn {
    width: 90px;
    font-size: 17px; }
  .reg__nav-ur {
    width: -webkit-calc(100% - 130px);
    width: calc(100% - 130px);
    font-size: 17px;
    line-height: 19px;
    margin-left: 39px; }
    .reg__nav-ur:before {
      top: 7px; }
  .search-result__input {
    width: 300px; }
  .product-page__bonuses {
    padding-right: 23px; } }

@media screen and (max-width: 1020px) {
  .case {
    position: relative;
    width: 750px; }
  .hidden-c {
    display: none; }
  .show-c {
    display: block; }
  .panel {
    padding-top: 0;
    padding-bottom: 0; }
    .panel__contacts {
      padding-top: 14px; }
      .panel__contacts li {
        margin-left: 0;
        margin-right: 0; }
        .panel__contacts li:last-of-type {
          margin-left: 22px;
          margin-right: 0; }
        .panel__contacts li .icon {
          margin-right: 0; }
      .panel__contacts a span {
        display: none; }
    .panel__auth {
      padding-top: 14px;
      text-align: right; }
      .panel__auth a {
        font-size: 12px;
        color: #fff; }
        .panel__auth a:hover {
          color: #ffc300; }
      .panel__auth li {
        margin-left: 10px; }
        .panel__auth li:first-of-type {
          margin-left: 0; }
      .panel__auth .icon {
        position: relative;
        top: -1px;
        width: 10px;
        margin-left: 12px; }
        .panel__auth .icon path {
          fill: #fff; }
        .panel__auth .icon:hover path {
          fill: #ffc300; }
    .panel__nav {
      display: none;
      position: absolute;
      top: 45px;
      left: 10px;
      right: 10px;
      background: #262626;
      z-index: 10; }
      .panel__nav li {
        position: relative;
        display: block;
        border-bottom: 1px solid #353535;
        margin-right: 0; }
        .panel__nav li ul {
          display: none;
          padding-bottom: 20px; }
          .panel__nav li ul li {
            border-bottom: none; }
          .panel__nav li ul a {
            padding: 7px 25px 7px 50px; }
      .panel__nav a {
        font-size: 15px;
        color: #fff;
        padding: 15px 25px; }
    .panel__item-drop:before {
      content: '';
      display: none;
      background-image: url(../../img/sprite.png);
      background-position: -135px -92px;
      width: 8px;
      height: 5px;
      display: block;
      position: absolute;
      top: 22px;
      right: 25px; }
    .panel__item-drop_open > a {
      color: #fcc203; }
    .panel__item-drop_open:before {
      background-position: -127px -92px; }
  .mobile-btn {
    width: 45px;
    height: 45px;
    background: #262626;
    padding-top: 15px;
    cursor: pointer; }
    .mobile-btn span {
      position: relative;
      display: block;
      width: 20px;
      height: 2px;
      background-color: #fff;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 4px;
      -webkit-transition: .3s;
      transition: .3s; }
      .mobile-btn span:last-of-type {
        margin-bottom: 0; }
    .mobile-btn_click span:nth-of-type(1) {
      top: 6px;
      -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
              transform: rotate(-45deg); }
    .mobile-btn_click span:nth-of-type(2) {
      opacity: 0; }
    .mobile-btn_click span:nth-of-type(3) {
      top: -6px;
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg); }
  .header {
    padding-top: 20px;
    padding-bottom: 18px; }
    .header__search {
      margin-top: 15px; }
    .header__data {
      width: 112px;
      padding-left: 0;
      position: relative;
      margin-left: auto; }
    .header__total-price {
      top: 57px;
      left: 0;
      position: absolute; }
    .header__logo img {
      margin-left: auto; }
  .search__example {
    display: none; }
  .nav .case {
    padding-left: 0;
    padding-right: 0;
    width: 100%; }
  .nav__btn {
    font-size: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    cursor: pointer; }
    .nav__btn_click span:nth-of-type(1) {
      top: 6px;
      -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
              transform: rotate(-45deg); }
    .nav__btn_click span:nth-of-type(2) {
      opacity: 0; }
    .nav__btn_click span:nth-of-type(3) {
      top: -6px;
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg); }
    .nav__btn_click .nav__btn {
      display: none; }
    .nav__btn-wrap {
      width: 112px;
      height: 18px;
      margin-left: auto;
      margin-right: auto;
      cursor: pointer; }
    .nav__btn-icon span {
      position: relative;
      display: block;
      width: 20px;
      height: 2px;
      background-color: #000;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 4px;
      -webkit-transition: .3s;
      transition: .3s; }
      .nav__btn-icon span:last-of-type {
        margin-bottom: 0; }
    .nav__btn-text {
      font-size: 16px;
      font-weight: 700;
      color: #303030;
      margin-left: 15px;
      position: relative;
      top: -1px; }
    .nav__btn-icon, .nav__btn-text {
      display: inline-block;
      vertical-align: middle; }
  .nav__wrap {
    display: none; }
  .nav__item {
    position: relative;
    width: 100%;
    border-top: 1px solid #e3e3e3; }
    .nav__item:hover .nav__sub {
      display: none; }
    .nav__item-drop:before {
      z-index: 1;
      content: '';
      display: none;
      background-image: url(../../img/sprite.png);
      background-position: -143px -92px;
      width: 8px;
      height: 5px;
      display: block;
      position: absolute;
      top: 22px;
      right: 25px;
      -webkit-transition: .3s;
      transition: .3s; }
    .nav__item_open:before {
      -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
              transform: rotate(180deg); }
  .nav__link {
    text-align: left;
    padding: 15px !important; }
  .nav__sub {
    display: none;
    opacity: 1;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-top: 1px solid #e3e3e3; }
  .nav__subnav {
    width: 100%;
    padding-top: 0;
    padding-right: 0; }
    .nav__subnav li {
      margin-bottom: 0; }
      .nav__subnav li a {
        font-size: 14px; }
    .nav__subnav a {
      display: block;
      padding: 7px 15px 7px 40px;
      border-bottom: none; }
      .nav__subnav a:hover {
        background: #f2f2f2; }
  .nav__product {
    display: none; }
  .slider {
    margin-top: 0;
    overflow: hidden; }
    .slider .case {
      padding-left: 0;
      padding-right: 0; }
    .slider__nav {
      display: none; }
    .slider__wrap {
      left: 38px;
      top: 50px; }
    .slider__title {
      font-size: 32px;
      line-height: 39px; }
    .slider__desc {
      font-size: 25px; }
    .slider__btn {
      width: 190px;
      font-size: 15px;
      border: 2px solid #fdc91c;
      padding-top: 9px;
      padding-bottom: 10px; }
    .slider__img {
      overflow: hidden; }
      .slider__img img {
        width: 772px; }
  .advantages .case {
    padding-left: 3px;
    padding-right: 3px; }
  .advantages_main {
    padding-top: 30px;
    padding-bottom: 0; }
    .advantages_main .advantages__title br {
      display: none; }
    .advantages_main .advantages__item {
      margin-bottom: 25px;
      min-height: 200px;
      padding-left: 12px;
      padding-right: 12px; }
    .advantages_main .row {
      margin-left: 0;
      margin-right: 0; }
  .categories__desc {
    display: none; }
  .categories__item {
    height: 140px; }
    .categories__item_wide .categories__title {
      font-size: 21px;
      line-height: 23px; }
  .categories__title {
    font-size: 16px;
    line-height: 20px; }
  .leaders_main {
    padding-bottom: 90px; }
  .leaders__nav {
    position: relative; }
  .leaders__list {
    margin-right: -10px; }
  .leaders__status {
    display: none; }
  .leaders__arrows {
    top: 0;
    right: 0;
    position: absolute; }
  .leaders__link {
    z-index: 1;
    position: absolute;
    top: 425px; }
  .leaders__item .product {
    width: 200px; }
  .novelties {
    margin-top: 0;
    margin-bottom: 19px; }
  .cards .case {
    padding-left: 0;
    padding-right: 0; }
  .card {
    margin-bottom: 19px; }
    .card_gift .card__btn {
      width: 180px; }
    .card__title {
      font-size: 20px;
      line-height: 24px; }
    .card__wrap {
      height: auto;
      padding: 27px 15px 25px 15px; }
    .card__text p {
      display: inline; }
    .card__btn {
      height: 37px;
      line-height: 37px;
      font-size: 13px; }
    .card__steps {
      width: 280px; }
    .card__desc {
      padding: 12px 10px; }
      .card__desc .icon {
        margin-right: 6px; }
  .card_sms .combined__btn {
    width: 110px;
    height: 37px;
    line-height: 37px;
    margin-left: 0;
    display: block;
    font-size: 13px; }
  .card_sms .combined__input {
    margin-bottom: 14px; }
  .cards {
    display: none; }
  .card__step {
    position: relative;
    width: 280px; }
  .card__combined-text {
    display: block;
    margin-bottom: 7px; }
  .card .card__btn-reset {
    position: absolute;
    top: 28px;
    left: 170px; }
  .card__step-ok {
    position: relative; }
    .card__step-ok svg {
      top: 3px;
      left: 0;
      position: absolute; }
    .card__step-ok p {
      line-height: normal;
      margin-left: 15px;
      width: -webkit-calc(100% - 30px);
      width: calc(100% - 30px); }
  .recipe__data {
    padding-left: 0;
    padding-bottom: 27px; }
  .reviews {
    margin-bottom: 40px; }
    .reviews__item {
      text-align: center; }
      .reviews__item:before {
        display: none; }
    .reviews__logo {
      width: 90px;
      line-height: 75px;
      margin-left: 0; }
      .reviews__logo img {
        max-width: 80px;
        max-height: 75px; }
    .reviews__data {
      margin-left: 10px;
      text-align: left;
      width: 198px; }
    .reviews__title {
      font-size: 17px; }
    .reviews__desc {
      font-size: 10px; }
    .reviews__text {
      text-align: left;
      margin-left: auto;
      margin-right: auto;
      margin-top: 23px;
      top: 50%;
      left: 0;
      right: 0;
      width: 100%;
      height: 50%;
      max-width: 100%;
      padding: 22px 22px 10px;
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.05)), color-stop(20%, rgba(255, 255, 255, 0)));
      background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.05) 0%, rgba(255, 255, 255, 0) 20%);
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 0%, rgba(255, 255, 255, 0) 20%); }
    .reviews .slick-arrow {
      display: none; }
  .brands__title span:before, .brands__title span:after {
    width: 42px; }
  .brands__title span:before {
    margin-right: 25px; }
  .brands__title span:after {
    margin-left: 25px; }
  .brands__list {
    padding-left: 40px;
    padding-right: 40px; }
  .page {
    margin-bottom: 55px; }
  .page404__icon {
    max-width: 290px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px; }
  .page404__content {
    padding-left: 0; }
  .page404__text {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500; }
  .page404__input {
    margin-right: 4px;
    width: -webkit-calc(100% - 114px);
    width: calc(100% - 114px); }
  .page404__btn {
    font-size: 14px;
    padding-top: 13px;
    padding-bottom: 15px;
    width: 110px;
    position: relative;
    top: 1px; }
  .contacts-block__btn {
    display: block;
    margin-bottom: 18px;
    margin-right: 0; }
    .contacts-block__btn-email {
      width: 252px;
      margin-left: 0; }
  .contacts-block__phone {
    display: block;
    margin-bottom: 18px;
    margin-right: 0; }
    .contacts-block__phone a {
      margin-top: 2px;
      padding-left: 25px;
      display: block; }
  .contacts-block__whatsapp {
    display: block;
    margin-right: 0; }
  .cart-list__return-bottom {
    margin-top: 28px; }
  .main-title {
    font-size: 22px;
    line-height: 26px; }
  .steps {
    text-align: center;
    margin-bottom: 25px; }
    .steps__item {
      margin-right: 43px; }
      .steps__item:last-of-type:after {
        display: none; }
      .steps__item p {
        display: block;
        font-size: 12px;
        font-weight: 700;
        width: 30px;
        text-align: center;
        position: absolute;
        top: 0;
        line-height: 30px; }
      .steps__item span {
        display: none; }
      .steps__item:before {
        width: 26px;
        height: 26px;
        margin-right: 0; }
      .steps__item:after {
        background-image: url(../../img/sprite.png);
        background-position: -139px -84px;
        width: 12px;
        height: 8px;
        top: 12px;
        left: 45px; }
  .reg__subtitle {
    margin-bottom: 0;
    position: relative;
    padding: 12px 30px 13px 44px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer; }
    .reg__subtitle:before {
      position: absolute;
      display: block;
      content: '';
      top: 11px;
      left: 14px;
      width: 17px;
      height: 17px;
      -webkit-box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.18);
              box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.18);
      border: 1px solid #bcbcbc;
      background-color: #ffffff;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      -webkit-transition: .3s;
      transition: .3s; }
    .reg__subtitle:after {
      position: absolute;
      display: block;
      content: '';
      width: 9px;
      height: 8px;
      top: 17px;
      left: 19px;
      -webkit-box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.26);
              box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.26);
      background-color: #414141;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      -webkit-transition: .3s;
      transition: .3s;
      -webkit-transform: scale(0);
          -ms-transform: scale(0);
              transform: scale(0); }
    .reg__subtitle_selected {
      background: #ffc300; }
      .reg__subtitle_selected:after {
        opacity: 1;
        -webkit-transform: scale(1);
            -ms-transform: scale(1);
                transform: scale(1); }
  .reg__new {
    margin-top: 15px; }
  .reg__list {
    border-left: none;
    border-right: none;
    padding: 25px 24px;
    margin-left: -10px;
    margin-right: -10px; }
  .reg__submit-desc {
    display: block;
    margin-left: 0;
    margin-top: 20px; }
  .reg__auth_line {
    display: none;
    padding: 15px 0;
    margin-left: -10px;
    margin-right: -10px;
    border-left: none;
    border-right: none;
    margin-top: 15px; }
    .reg__auth_line .reg__login {
      padding-bottom: 13px;
      margin-bottom: 15px; }
    .reg__auth_line .reg__login, .reg__auth_line .reg__socials {
      padding-left: 15px;
      padding-right: 10px; }
  .element_left.element_mob {
    margin-right: 0; }
  .element_right.element_mob {
    margin-left: 0; }
  .element_pt {
    padding-top: 0; }
  .cart-list__return-top {
    padding-top: 15px; }
  .footer {
    padding-top: 30px; }
    .footer__links li {
      display: block;
      margin-left: 0; }
    .footer__copy, .footer__links {
      margin-bottom: 15px; }
    .footer__links li {
      margin-bottom: 4px; }
      .footer__links li:last-of-type {
        margin-bottom: 0; }
    .footer__links a {
      display: inline; }
  .step-address {
    margin-right: 0; }
    .step-address__item {
      padding: 20px; }
    .step-address__body .personal-data {
      padding-left: 0; }
  .element__title {
    font-size: 14px; }
  .element_left {
    margin-right: 10px; }
  .element_right {
    margin-left: 10px; }
  .element_middle {
    margin-left: 5px;
    margin-right: 5px; }
  .cart-list {
    padding-right: 0; }
    .cart-list__item:first-of-type {
      padding-top: 0;
      border-top: none; }
  .final__title_small {
    margin-bottom: 20px; }
  .final__links {
    padding-left: 24px; }
  .final__link {
    margin-bottom: 9px; }
    .final__link:last-of-type {
      margin-bottom: 0; }
  .order__head {
    padding: 22px 25px 23px; }
  .order__title {
    margin-bottom: 10px; }
  .order__delivery {
    margin-bottom: 32px; }
  .order__delivery, .order__price {
    width: 100%; }
  .order__body {
    padding: 20px 20px 25px 20px; }
  .order__foot {
    position: relative; }
    .order__foot-title {
      position: relative;
      padding: 20px 20px 45px 20px; }
  .order__quantity, .order__weight {
    width: 100% !important;
    display: block; }
  .order__weight {
    text-align: left !important;
    margin-top: 12px;
    line-height: 17px; }
    .order__weight p {
      display: block; }
  .order__toggle {
    position: absolute;
    bottom: 15px;
    left: 20px;
    text-align: left;
    width: auto !important; }
  .order__item_delivery .order__item-img {
    width: 12%; }
  .order__item_delivery .order__item-count, .order__item_delivery .order__item-price {
    display: none; }
  .order__item_delivery .order__item-data {
    width: 56%; }
  .order__item_delivery .order__item-total-price {
    width: 30%; }
  .order__item_delivery .order__data {
    font-size: 16px; }
  .order__item-img {
    width: 35%;
    padding-left: 5px;
    padding-right: 5px; }
    .order__item-img img {
      max-width: 100%; }
  .order__item-data {
    width: 65%;
    padding-left: 10px;
    padding-right: 10px; }
  .order__item-count {
    width: 20%; }
  .order__item-price {
    width: 40%; }
  .order__item-total-price {
    width: 40%; }
  .order__item-count, .order__item-price, .order__item-total-price {
    display: inline-block;
    vertical-align: middle; }
  .order__status {
    position: static;
    margin-top: 14px; }
  .order__btns {
    right: 17px;
    top: 17px; }
    .order__btns-item {
      display: block;
      margin: 0 0 6px; }
  .catalog__banner {
    padding-top: 35px;
    margin-left: -10px;
    margin-right: -10px; }
    .catalog__banner-btn {
      display: none; }
    .catalog__banner-title {
      padding-top: 0;
      padding-left: 15px;
      font-size: 22px;
      line-height: 36px; }
      .catalog__banner-title span {
        font-size: 34px; }
    .catalog__banner-desc {
      display: block;
      padding-left: 14px;
      width: 100%;
      padding-right: 10px; }
  .category__parmetry {
    margin-bottom: 19px; }
    .category__parmetry-title {
      cursor: pointer; }
      .category__parmetry-title:after, .category__parmetry-title .icon {
        display: inline-block;
        display: inline-block; }
    .category__parmetry-wrap {
      display: none; }
      .category__parmetry-wrap_error {
        width: 100% !important; }
        .category__parmetry-wrap_error .category__btns {
          width: 210px;
          margin-left: auto;
          margin-right: auto; }
  .category__aside {
    padding-right: 0; }
  .category__list {
    margin-left: -5px;
    margin-right: -5px; }
    .category__list .row {
      display: inline;
      margin-left: 0;
      margin-right: 0;
      font-size: 0; }
      .category__list .row:before, .category__list .row:after {
        display: none; }
    .category__list .col {
      display: inline-block;
      vertical-align: top;
      float: none; }
  .category__sort-item {
    display: block !important;
    margin-bottom: 10px !important;
    margin-right: 0 !important; }
    .category__sort-item:last-of-type {
      margin-bottom: 0; }
  .category__parmetry-wrap {
    width: 210px;
    margin-left: auto;
    margin-right: auto; }
  .contacts {
    padding-right: 0; }
    .contacts__block {
      margin-bottom: 25px; }
  .addresses__item {
    min-height: 1px; }
  .error {
    margin-bottom: 30px; }
    .error__content {
      width: 100%;
      margin-left: 0; }
    .error__status p {
      width: -webkit-calc(100% - 30px);
      width: calc(100% - 30px); }
  .faq__head {
    padding: 22px 22px 35px;
    margin-bottom: 30px; }
    .faq__head-btn {
      margin-bottom: 25px; }
    .faq__head-text {
      margin-left: 0; }
  .faq__policy {
    display: block;
    margin-left: 0;
    margin-top: 19px;
    width: auto; }
  .faq__right {
    padding-right: 0;
    margin-top: 12px; }
  .faq__title {
    font-size: 18px;
    font-weight: 500; }
  .faq__subtitle {
    line-height: 22px; }
    .faq__subtitle span {
      padding-bottom: 3px; }
  .faq__item {
    padding: 22px 19px 28px; }
  .vacancies {
    margin-bottom: 20px;
    padding-top: 28px; }
    .vacancies__item {
      padding: 17px 18px 8px; }
    .vacancies__name {
      width: -webkit-calc(100% - 120px);
      width: calc(100% - 120px); }
    .vacancies__salary {
      width: 120px; }
    .vacancies__title {
      font-size: 20px; }
  .textpage {
    padding-right: 0; }
  .news__list {
    border-bottom: none;
    margin-bottom: 0; }
  .news__img {
    margin-right: 0;
    margin-bottom: 15px; }
  .news__content {
    width: 100%;
    display: block; }
  .news__title {
    height: auto;
    margin-bottom: 10px; }
  .order__repeat {
    position: static;
    margin-left: 0;
    margin-top: 12px; }
  .address__item {
    padding-left: 40px; }
  .address__content:before {
    left: -25px; }
  .address__control {
    position: static;
    margin-top: 20px; }
    .address__control .order__btns-item {
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px; }
      .address__control .order__btns-item:last-of-type {
        margin-right: 0; }
  .personal-data__desc {
    display: block;
    margin-left: 0; }
  .personal-data__btn {
    margin-top: 5px; }
  .balance__count {
    display: block;
    margin-left: 30px;
    margin-top: 5px; }
  .balance__text {
    margin-right: 0; }
  .bonuses__count {
    display: block;
    margin-left: 30px; }
  .bonuses__list {
    padding-top: 5px;
    border-top: 1px solid #e8e8e8;
    margin-left: -10px;
    margin-right: -10px; }
  .bonuses__item {
    padding: 20px 35px; }
    .bonuses__item_head {
      display: none; }
  .bonuses__date, .bonuses__status, .bonuses__sum, .bonuses__comment {
    width: auto;
    display: block;
    padding: 0; }
  .bonuses__sum {
    position: relative;
    top: -17px;
    left: 130px;
    width: 100px; }
  .w190, .w270, .w350 {
    width: 100%; }
  .element__desc {
    display: none; }
  .personal-data .element_calendar {
    margin-left: 0; }
  .messages {
    margin-left: -10px;
    margin-right: -10px; }
    .messages__title, .messages__list {
      padding-left: 10px;
      padding-right: 10px; }
    .messages__icon {
      left: 18px; }
    .messages__item {
      position: relative;
      padding-bottom: 0;
      padding-left: 55px;
      padding-right: 15px; }
    .messages__btn {
      top: auto;
      bottom: 0;
      margin-bottom: 0; }
    .messages__data {
      position: static;
      margin-top: 12px;
      padding-bottom: 20px; }
    .messages__text {
      font-size: 14px; }
  .lk__item {
    height: auto;
    background-image: none;
    padding: 25px 15px 30px 30px; }
  .product-page__slider {
    padding-bottom: 14px; }
  .product-page__imgs {
    width: 15%;
    margin-right: 0;
    padding-right: 5px; }
  .product-page__img {
    width: 85%; }
  .product-page__img img, .product-page__imgs img {
    max-width: 100%; }
  .product-page__bonuses {
    padding-right: 0; }
    .product-page__bonuses .icon-info-yellow {
      display: none; }
  .product-page__content {
    padding-right: 0;
    display: none;
    padding-right: 0; }
    .product-page__content.hidden {
      display: block;
      margin-top: 40px; }
    .product-page__content-title, .product-page__content-links {
      display: block; }
    .product-page__content-title {
      margin-bottom: 8px; }
  .product-page__return {
    width: 160px; }
  .product-page__bonuses {
    width: -webkit-calc(100% - 160px);
    width: calc(100% - 160px); }
    .product-page__bonuses .info {
      display: none; }
    .product-page__bonuses div {
      width: 80px;
      font-size: 11px;
      text-align: left; }
  .product-page__price-benefit {
    display: none; }
  .product-page__btn {
    width: 240px; }
  .product-page__stock {
    width: 62%; }
  .product-page__number {
    width: 38%; }
  .data__name, .data__value {
    font-size: 12px; }
  .data__name {
    width: 60%; }
  .data__value {
    width: 40%; }
  .reviews-col__more {
    display: none !important; }
  .reviews-col__text {
    height: auto; }
  .reviews-col__head .icon-star {
    width: 20px; }
  .reviews-col__icon {
    margin-left: 0;
    width: 97px; }
  .reviews-col__voices {
    display: none; }
  .reviews-col__count {
    font-size: 23px; }
  .reviews-col__btn-more {
    margin-right: 10px; }
  .feedback {
    padding-right: 0; }
    .feedback__input-desc {
      display: none; }
    .feedback__foot {
      padding-bottom: 60px; }
    .feedback__btn {
      position: absolute;
      bottom: 0;
      left: 5px; }
  .recipe-col {
    margin-top: 54px; }
    .recipe-col__head {
      position: relative; }
    .recipe-col__icon {
      margin-left: 8px;
      margin-right: 17px;
      width: 56px; }
    .recipe-col__title {
      font-size: 14px;
      padding-bottom: 12px; }
      .recipe-col__title span {
        display: inline; }
    .recipe-col__voices {
      position: absolute;
      bottom: 8px;
      left: 86px;
      width: 100px;
      text-align: left; }
  .recipe-item_line .recipe-item__img {
    display: block; }
  .recipe-item_line .recipe-item__content {
    width: 100%;
    display: block;
    padding-left: 0;
    padding-top: 12px;
    padding-right: 20px;
    height: auto;
    padding-bottom: 15px; }
  .recipe-item_line .recipe-item__counts {
    right: 20px;
    bottom: 15px; }
  .recipe-item__img {
    max-height: 110px; }
    .recipe-item__img img {
      height: 100%; }
  .recipe-item__content {
    padding-left: 18px;
    padding-right: 18px; }
  .c-ral {
    text-align: left; }
  .category__sort-title {
    margin-right: 10px; }
  .category__sort-item_wide .ui-selectmenu-button {
    width: 195px;
    padding-left: 5px;
    padding-right: 0; }
  .category__sort-item_wide .ui-selectmenu-text {
    text-overflow: inherit; }
  .receptes-item__right {
    padding-left: 0;
    margin-top: 25px; }
  .receptes-item__add {
    display: block;
    margin-left: auto;
    margin-right: auto; }
  .receptes-item__in-stock {
    width: 100%; }
  .receptes-item__content {
    display: none; }
    .receptes-item__content.hidden {
      display: block;
      border-top: 1px solid #cecece;
      padding-top: 30px;
      margin-top: 30px; }
  .receptes-item__share-btns {
    margin-bottom: 0; }
  .cooking__count {
    width: 38px;
    height: 38px;
    line-height: 32px;
    font-size: 17px; }
  .cooking__text {
    width: -webkit-calc(100% - 38px);
    width: calc(100% - 38px); }
  .share__btn-print, .share__btn-mail {
    display: none; }
  .share__title {
    display: block;
    margin-bottom: 10px; }
  .share__count {
    margin-right: 0; }
  .more__head {
    font-size: 18px; }
  .category__sort-item_search {
    float: none;
    text-align: left; }
  .search-result {
    padding: 20px 20px 25px; }
    .search-result__text {
      display: block;
      text-align: left;
      margin-bottom: 10px; }
    .search-result__input {
      margin-right: -2px;
      width: -webkit-calc(100% - 110px);
      width: calc(100% - 110px); }
  .search-error p {
    width: -webkit-calc(100% - 30px);
    width: calc(100% - 30px); }
  .welcome__text, .welcome__desc {
    padding-left: 10px;
    padding-right: 10px; }
  .welcome__btn {
    margin-right: 0;
    width: 270px; }
  .welcome__return {
    display: none; }
  .lk-nav_mobile {
    display: block; }
  .balance {
    margin-left: 40px; }
  .alerts__title_ml {
    padding-left: 40px; }
  .info-block_ml {
    margin-left: 40px; }
  .personal-data__title_mt {
    margin-left: 35px; }
  .messages__title_ml {
    margin-left: 40px; }
  .popup_feedback .popup__policy {
    margin-top: 20px; } }

@media screen and (max-width: 767px) {
  .case {
    width: 100%; }
  .header__logo img {
    margin-left: 0; }
  .novelties .case {
    padding-left: 0;
    padding-right: 0; }
  .novelties__title {
    font-size: 24px; }
  .cart-list {
    padding-bottom: 50px; }
    .cart-list__item {
      position: relative;
      padding-top: 15px;
      padding-bottom: 15px; }
      .cart-list__item_small .cart-list__price {
        margin-left: 50%; }
      .cart-list__item .cart-list__data {
        padding-bottom: 10px;
        padding-right: 0;
        padding-left: 0; }
      .cart-list__item .cart-list__data, .cart-list__item .cart-list__img {
        padding-bottom: 20px; }
      .cart-list__item .cart-list__img {
        padding-left: 0; }
      .cart-list__item .cart-list__img, .cart-list__item .cart-list__data, .cart-list__item .cart-list__price {
        width: 50%; }
      .cart-list__item .cart-list__price {
        position: relative;
        text-align: left;
        padding-bottom: 0;
        padding-right: 0;
        vertical-align: top; }
        .cart-list__item .cart-list__price-wrap_bg {
          background: none; }
          .cart-list__item .cart-list__price-wrap_bg span {
            color: #d51515; }
        .cart-list__item .cart-list__price .inrement {
          position: absolute;
          bottom: 20px;
          left: -100px; }
    .cart-list__more {
      position: relative;
      text-align: center;
      padding-top: 15px;
      padding-bottom: 15px; }
      .cart-list__more-number {
        display: block;
        text-align: center; }
      .cart-list__more-btn {
        position: absolute;
        bottom: -30px;
        left: 50%;
        margin-left: -90px !important; }
    .cart-list__inrement {
      width: 50% !important;
      padding-bottom: 0; }
      .cart-list__inrement.hidden {
        display: inline-block; }
    .cart-list__remove {
      position: absolute;
      top: 52px;
      width: auto;
      left: 0; }
    .cart-list__price .cart-list__inrement {
      display: none; }
    .cart-list__more_small {
      margin-bottom: 40px; } }

@media screen and (max-width: 720px) {
  .step-address__item {
    min-height: 1px;
    margin-left: -10px;
    margin-right: -10px;
    border-left: none;
    border-right: none; }
  .step-address__head {
    font-size: 20px; }
  .step-address__return-top {
    margin-left: 15px;
    margin-right: 15px; }
  .wishes {
    margin-left: 15px;
    margin-right: 15px; }
    .wishes__input {
      position: relative;
      left: 0;
      bottom: 0;
      top: -3px;
      margin-left: 30px; }
  .cart-totals, .cart-totals__btn {
    margin-left: 15px;
    margin-right: 15px; }
  .cart-totals__btn {
    width: auto; }
  .cart-totals {
    padding-top: 25px; }
    .cart-totals__btn-toggle {
      position: relative;
      top: -15px;
      width: 190px;
      padding: 5px 0 7px; }
      .cart-totals__btn-toggle span {
        font-size: 13px;
        display: inline-block;
        vertical-align: middle;
        padding-bottom: 1px;
        -webkit-transition: .3s;
        transition: .3s;
        border-bottom: 1px dotted #242424; }
        .cart-totals__btn-toggle span:hover {
          border-color: transparent; }
      .cart-totals__btn-toggle .icon {
        margin-left: 9px;
        -webkit-transition: .3s;
        transition: .3s; }
      .cart-totals__btn-toggle_click .cart-totals__slideUp {
        display: inline-block !important; }
      .cart-totals__btn-toggle_click .cart-totals__slideDown {
        display: none; }
      .cart-totals__btn-toggle_click .icon {
        -webkit-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
                transform: rotate(180deg); }
      .cart-totals__btn-toggle .cart-totals__slideUp {
        display: none; }
    .cart-totals__data-name {
      width: 60%; }
    .cart-totals__data-count {
      width: 40%; }
    .cart-totals__list {
      display: none;
      margin-bottom: 10px;
      padding-left: 15px; }
      .cart-totals__list .nano {
        height: auto; }
      .cart-totals__list .nano > .nano-content {
        position: relative;
        padding-right: 15px; }
      .cart-totals__list .nano-pane {
        display: none; }
    .cart-totals__all {
      padding-top: 5px; }
    .cart-totals__foot .btn {
      margin-left: 0;
      margin-right: 0; }
  .promocode__wrap {
    margin-left: 15px;
    margin-right: 15px;
    padding: 23px 29px 35px; }
  .promocode__desc {
    margin-left: 10px;
    margin-right: 15px; }
  .cart-list__return-top_hidden {
    margin-left: 20px; } }

@media screen and (max-width: 690px) {
  .recipe-item {
    max-width: 290px;
    margin-left: auto;
    margin-right: auto; }
    .recipe-item__content {
      height: auto;
      padding-bottom: 15px; }
    .recipe-item__counts {
      right: 15px;
      bottom: 15px; }
  .receptes-item__img {
    margin-left: -10px;
    margin-right: -10px; } }

@media screen and (max-width: 620px) {
  .popup {
    width: 100%; }
    .popup__link {
      margin-left: 15px !important; }
  .popup_auth .popup__body, .popup_auth .popup__foot, .popup_recepe .popup__body {
    padding-left: 35px;
    padding-right: 35px; }
  .contacts__line_bold {
    padding-bottom: 0; }
  .schedule {
    margin-left: -4px;
    margin-right: -4px; }
    .schedule__item {
      width: 25%;
      margin-bottom: 24px; }
  .product-page__imgs {
    width: 25%; }
    .product-page__imgs-item {
      height: 64.5px;
      line-height: 58px;
      overflow: hidden;
      padding: 3px; }
  .product-page__img {
    line-height: 170px;
    height: 200px;
    width: 75%; }
    .product-page__img img {
      max-height: 170px; } }

@media screen and (max-width: 500px) {
  .method-pay {
    margin-left: -10px;
    margin-right: -10px;
    border-left: none;
    border-right: none;
    padding: 25px 10px; }
  .method-pay__title {
    padding-left: 30px; }
  .order-list {
    padding-left: 0; }
  .hidden-550 {
    display: none; }
  .text table td, .text table th {
    padding: 5px; } }

@media screen and (max-width: 450px) {
  .vacancies__name, .vacancies__salary {
    width: 100%; }
  .vacancies__name {
    font-size: 15px;
    margin-bottom: 3px;
    line-height: 20px; }
  .vacancies__salary {
    text-align: left;
    font-size: 13px; } }

@media screen and (max-width: 370px) {
  .reviews .slick-next {
    display: none !important; }
  .reviews__data {
    width: auto; } }
