.icon-arrow-right-small {
  background-image: url(../../img/sprite.png);
  background-position: -157px -74px;
  width: 4px;
  height: 6px; }

.icon-arrow-step {
  background-image: url(../../img/sprite.png);
  background-position: -139px -84px;
  width: 12px;
  height: 8px; }

.icon-calendar-arrow-left {
  background-image: url(../../img/sprite.png);
  background-position: -121px -92px;
  width: 6px;
  height: 10px; }

.icon-calendar-arrow-right {
  background-image: url(../../img/sprite.png);
  background-position: -115px -92px;
  width: 6px;
  height: 10px; }

.icon-card {
  background-image: url(../../img/sprite.png);
  background-position: 0px -113px;
  width: 56px;
  height: 35px; }

.icon-caret-black {
  background-image: url(../../img/sprite.png);
  background-position: -143px -92px;
  width: 8px;
  height: 5px; }

.icon-caret-white {
  background-image: url(../../img/sprite.png);
  background-position: -135px -92px;
  width: 8px;
  height: 5px; }

.icon-caret-yellow {
  background-image: url(../../img/sprite.png);
  background-position: -127px -92px;
  width: 8px;
  height: 5px; }

.icon-check-big-black {
  background-image: url(../../img/sprite.png);
  background-position: -115px -74px;
  width: 14px;
  height: 10px; }

.icon-check-big-gray {
  background-image: url(../../img/sprite.png);
  background-position: -129px -74px;
  width: 14px;
  height: 10px; }

.icon-check-big-green {
  background-image: url(../../img/sprite.png);
  background-position: -143px -74px;
  width: 14px;
  height: 10px; }

.icon-check-black {
  background-image: url(../../img/sprite.png);
  background-position: -127px -84px;
  width: 12px;
  height: 8px; }

.icon-check-white {
  background-image: url(../../img/sprite.png);
  background-position: -115px -84px;
  width: 12px;
  height: 8px; }

.icon-check {
  background-image: url(../../img/sprite.png);
  background-position: -151px -84px;
  width: 7px;
  height: 6px; }

.icon-chefscap {
  background-image: url(../../img/sprite.png);
  background-position: 0px 0px;
  width: 67px;
  height: 66px; }

.icon-cup {
  background-image: url(../../img/sprite.png);
  background-position: -67px 0px;
  width: 48px;
  height: 59px; }

.icon-email-green {
  background-image: url(../../img/sprite.png);
  background-position: -146px -54px;
  width: 16px;
  height: 16px; }

.icon-marker {
  background-image: url(../../img/sprite.png);
  background-position: -115px -54px;
  width: 15px;
  height: 20px; }

.icon-meat {
  background-image: url(../../img/sprite.png);
  background-position: -115px 0px;
  width: 47px;
  height: 54px; }

.icon-shopping {
  background-image: url(../../img/sprite.png);
  background-position: 0px -66px;
  width: 54px;
  height: 47px; }

.icon-time {
  background-image: url(../../img/sprite.png);
  background-position: -130px -54px;
  width: 16px;
  height: 16px; }

.icon-vegetables {
  background-image: url(../../img/sprite.png);
  background-position: -54px -66px;
  width: 53px;
  height: 47px; }
